:root{--general-text-color:#2e2f42;
  --logo-text-color:#4d5ae5;
  --links-hover-color:blue;
  --footer-textcolor:#e7e9fc;
  --footer-logo-color:#f4f4fd;
  --logo-text:Raleway;
  --all-text:Roboto;
}

ul {
  list-style: none;
}
/* Body */
.body {
  font-family: var(--logo-text);
}
/* Heder logo */
.heder-studio {
  font-family: var(--logo-text);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--general-text-color);
  text-decoration: none;
}
.heder-web {
  font-family: var(--logo-text);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--logo-text-color);
  flex: none;
  text-decoration: none;
}
/* Heder links */
.links-heder {
  color: var(--general-text-color);
  font-family: var(--all-text);
  text-decoration: none;
}
.links-heder:hover {
  color: var(--logo-text-color);
}
.links-heder:focus {
  color:var(--logo-text-color);
}
/* links info */
.heder-mail-telefon {
  color: var(--general-text-color);
  text-decoration: none;
  font-family: var(--all-text);
}
.heder-mail-telefon:hover{color: var(--logo-text-color);}
/* Big-heder */
h2 {font-family: var(--all-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--general-text-color);
}
h1{color: #4d5ae5;
font-family: var(--all-text);}
.banner {
}
.big-heder {
}
.text {
  font-family: var(--all-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--general-text-color);
}
.firsttitle {
  font-family: var(--all-text);
  font-weight: 400;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:var(--general-text-color);
}
/* sektion1 */

/* button */
.buttonStudio {
  background-color: var(--logo-text-color);
  color: aliceblue;
  border-radius: 4px;
  padding: 16px 32px;
}
/* Footer */
.footer-web {
  font-family: var(--logo-text);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-text-color);
  text-decoration: none;
}
.footer-studio {
  font-family: var(--logo-text);
 font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}


.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
